<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DiscoverMovies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TMDbMovieKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1119423B1CCB8CA0001CF39B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1119424F1CCB8CA0001CF39B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>111942631CCB8CBE001CF39B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1119426C1CCB8CBF001CF39B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
